html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#info {
	float: left;
	width: 35%;
	height: 100%;
}

#map {
	height: 100%;
	float: right;
	width: 65%;
}

#trip-count {
    font-size: 58px;
    font-weight: 300;
    color: #EB6E00;
}

#trip-info-container {
	margin: 10px;
}

#popular-position-headers {
	display: none;
}

#popular-positions {
	font-size: 25px;
	font-weight: 300;
}

.lat-lng-row:hover {
	background-color: #F8F8F8;
	cursor: pointer; cursor: hand;
}