html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#trip-info-container {
	float: left;
	width: 35%;
	height: 100%;
	overflow:scroll;
}

#map {
	height: 100%;
	float: right;
	width: 65%;
}

#trip-count {
    font-size: 100px;
    font-weight: 300;
    color: #EB6E00;
    text-align: center;
    width: 50%;
    margin: auto; 
}

#trip-count-container {
	width: 100%;
	text-align: center;	
}

#popular-trip-info-container {
	margin: 10px;
}

#popular-position-headers {
	display: none;
}

#popular-positions {
	font-size: 20px;
	font-weight: 300;
}

#announcement {
	width: 100%;
	text-align: center;	
}

#date-info {
	font-size: 100px;
    font-weight: 300;
    color: #EB6E00;
    text-align: center;
    width: 100%;
    margin: auto; 
}

.lat-lng-element  {
	padding: 10px;
}

.lat-lng-row :hover {
	cursor: pointer; 
	cursor: hand;
}

#spinner-container {
	top: 50%;
	transform: translateY(-50%);
	left: 50%;
    position: relative;
    margin-left: -15px;
    width: 30px;
    height: 30px;
}

#spinner {
	width: 30px;
    height: 30px;
    display: none;
}