<div id="spinner-container">
	<img id="spinner" src="http://consumer.huawei.com/minisite/pe/p9/images/spinner.gif">
</div>
<img id="uber-logo" src="@{'/public/images/uber_big.png'}">
<div id="popular-trip-info-container">
  <button id="js-back-to-map" class="back-button" style="display: none"">Back</div>
  <div id="announcement">
	<p id="date-info">04/2014</p> 
	<p>Uber trips data</p>
  </div>
  <div id="trip-count-container" style="display: none">
  	<span id="trip-count"></span> 
  	<p>pickup locations</p>
  </div>
  <table id="popular-positions">
  	<tr id="popular-positions-headers" style="display: none">
  		<td></td>
  		<td class="lat-lng-element">Lat</td>
  		<td class="lat-lng-element">Lng</td>
  		<td>Count</td>
  	</tr>	
  </table>
</div>